@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: #eaeaea;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  cursor: pointer;
}
